<div class="px-4 py-4 max-w-[425px] mx-auto">
  <h1 class="text-xl">特定商取引法に基づく表記</h1>
  <div class="mt-6 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">法人名</dt>
      <dd class="mt-2">PIZZERIA La Cittá</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">住所</dt>
      <dd class="mt-2">鹿児島県薩摩川内市天辰町819-1</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">電話番号</dt>
      <dd class="mt-2">050-8888-8008</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">メールアドレス</dt>
      <dd class="mt-2">lacitta.dal.20230804@gmail.com</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">オペレーション責任者</dt>
      <dd class="mt-2">三笘 和朗</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">追加手数料</dt>
      <dd class="mt-2">商品またはサービスの代金以外に、顧客が負担する可能性のあるすべての手数料(配送料、処理手数料など)に関する情報を提供してください。</dd>
      <dd class="mt-2">1 箱あたり一律 1,000 円の配送料、コンビニ決済の取引手数料:100円</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">交換および返品に関するポリシー</dt>
      <dd class="mt-2">
        ＜お客様からの返品・交換＞<br>
        食品のため、会員都合による返品・交換はお受けできません。商品に瑕疵がある場合は、商品到着後7日以内に当店までご連絡ください。状況確認後、返金または交換にて対応いたします。
      </dd>
      <dd class="mt-2">
        ＜不良品・サービスの返品・交換＞<br>
        お問い合わせください。弊社が送料を負担して返金するか、新しい製品と交換いたします。
      </dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">配達時間</dt>
      <dd class="mt-2">注文は 3 ～ 5 営業日以内に発送いたします。</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">受け付け可能な決済手段</dt>
      <dd class="mt-2">クレジットカードのみ</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">決済期間</dt>
      <dd class="mt-2">商品ご注文時点でお支払いが確定します。</dd>
    </dl>
  </div>
  <div class="mt-3 py-3 border-t border-[#eeeeee]">
    <dl>
      <dt class="font-bold">価格</dt>
      <dd class="mt-2">販売価格は、表示された金額（表示価格・消費税込）とします。</dd>
    </dl>
  </div>
</div>