<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>ご注文いただきありがとうございます</p>
    <p>ご注文を受け付けたことをお知らせいたします。</p>
    <p>発送いたしましたら、メールでお知らせいたします。</p>
    <p>注文の詳細については、以下のリンクをクリックしてください。</p>
    <p><%= @url %></p>

    <%# 会社概要 %>
    <p>-------------------------------</p>
    <p>住所: 鹿児島県薩摩川内市天辰町819-1</p>
    <p>TEL: 03-1234-5678</p>
    <p>----------------------------</p>
  </body>
</html>
